header{
    display: flex;
    justify-content: center;
    
}

body{
    background: linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(159,0,0,0.969152626871061) 81%);
}

.rcsBanner{
    width: 900px;
}

.carsCards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(159,0,0,0.969152626871061) 81%);
    border-radius: 8px;
    padding: 20px;
    font-family: monospace;
    row-gap: 20px;
    font-size: 20px;
}

.footerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.rcsLogo{
    width: 200px;
    height: 200px;
}

.gitIcons{
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px;
}